$flex:flex;
$letraNavegador:'Libre Baskerville',
serif;


.header--sticky {
    height: 0vh;
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: 9999;

    .header__nav {
        .navbar-toggler {
            background-color: #f4d6b9;
            border-color: #0c0c0d;
        }

        .header__nav__ul--justify {
            display: $flex;
            justify-content: space-evenly;
            line-height: 30px;

            .header__nav__ul__li--style {
                display: block;
                list-style: none;
                font-family: $letraNavegador;
                font-size: 20px;
                color: white;
                text-shadow: -1.5px 2px 0 #0a0e27;
                margin-right: 15px;


                &:last-child {
                    margin-right: 0;
                }

                .header__nav__ul__li__a--link {
                    color: white;
                    padding: 5px;
                    border-radius: 15px;


                    &:hover {
                        text-decoration: rgb(214, 163, 54);
                        transition: opacity .5s;
                        background: #0c0c0d81;
                    }
                }
            }
        }
    }
}